.titulos{
    font-family: 'Mukta', sans-serif;
    font-size: 25 px;
    font-weight: 500;
    text-transform: uppercase;
}

.parrafo{
    font-family: 'Mukta', sans-serif;
    font-size: 20 px;
}

main{
    margin: 2rem;
    padding: 2rem;
}